
extends ../layout/default.pug
block content
	.container
		.container.renews
		.my-5#newmy5
			.service-details
				.sec-title#newsec
					.title-icon
						span.icon
							img(src='../images/icons/blue-tang-fish.png' alt='' title='')
					.subtitle notice
					h2 공지/뉴스
		//- .jumbotron.my-2
		//- 	h1= title
			//- button.btn.btn-primary(onclick="location.href='/board';") 리스트로 돌아가기 21-02-24전오상
		ul.my-3(style="list-style: none; padding: 0;")
			//- li.d-flex.list.border-bottom
			//- 	div(style="flex: 30% 0 0;").p-2.bg-light 번호
			//- 	div.p-2= list.id
			li.d-flex.list.border-bottom
				//- span(style="flex: 30% 0 0;").p-2.bg-light 제목 div.p2(style="font-size:20px;")=list.title
				div.p2
					hr
					span.p-2(style="font-size:20px;")=list.title
					div
					span.p-2(style="font-size:13px; padding: 0;")= '아쿠아넷 관리자'
					span.p-2(style="font-size:13px;")= list.wdate
					hr
					div.p-2.divp2(style="font-size:15px;")= list.content
			//- li.d-flex.list.border-bottom
				//- div(style="flex: 30% 0 0;").p-2.bg-light 작성자
				div.p-2= '관리자'
			//- li.d-flex.list.border-bottom
				div(style="flex: 30% 0 0;").p-2.bg-light 작성일
				div.p-2= list.wdate
			//- li.d-flex.list.border-bottom
			//- 	div(style="flex: 30% 0 0;").p-2.bg-light 내용
			//- 	div.p-2= list.content
			if list.savefile
				li.d-flex.list.border-bottom
					div(style="flex: 30% 0 0;").p-2.bg-light 첨부파일
					div.p-2
						a(hWref=`/board/download?file=${list.savefile}&name=${list.realfile}`)= list.realfile
			if list.imgSrc
				li.d-flex.list.border-bottom
					div(style="flex: 30% 0 0;").p-2.bg-light 첨부이미지
					div.p-2
						img.mw-100(src=`${list.imgSrc}`)
		.p-3.text-center
			button.btn.btn-primary(onclick="location.href='/board';") 목록
			if user && user.id
				button.btn.btn-primary(onclick="location.href='/html/newboard.html';") 글쓰기
			if user && user.id && user.id == list.uid
				button.btn.btn-success(onclick=`location.href='/board/update/${list.id}'`) 수정
				button.btn.btn-danger(onclick=`onDelete(${list.id});`) 삭제